body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3.5rem;
    color: hsl(0, 0%, 20%);
}

.choices {
    margin-bottom: 30px;
}

.choices button {
    font-size: 7.5rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 250px;
    background-color: hsl(200, 100%, 50%);
    cursor: pointer;
    transition: backgroud-color 0.5s ease;
}

.choices button:hover {
    background-color: hsl(200, 100%, 70%);
}

#humanDisplay, #computerDisplay {
    font-size: 2.5rem;
}

#resultDisplay {
    font-size: 3.4rem;
    margin-top: 30px;
    margin-bottom: 10px;
}

.scoreDisplay {
    font-size: 2rem;
    margin-top: 10px;
}

#computerScoreDisplay {
    padding-bottom: 50px;
}

#playAgainButton {
    margin-top: 5px;
    margin-bottom: 30px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.greenText, #humanScoreDisplay {
    color: hsl(130, 84%, 54%);
}

.yellowText {
    color: hsl(60, 84%, 50%);
}

.redText, #computerScoreDisplay {
    color: hsl(0, 84%, 60%);
}